<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header"></head>
<style>
  a {
    color: #111;
  }
  a:hover {
    color: #111;
  }
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
</style>
<body>
  <div class="container">
    <div class="py-3 text-center">
      <h3>게시판</h3>
    </div>
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col" style="width: 7%">번호</th>
        <th scope="col" style="width: 54%">제목</th>
        <th scope="col" style="width: 13%">작성자</th>
        <th scope="col" style="width: 10%">작성일</th>
        <th scope="col" style="width: 8%">조회</th>
        <th scope="col" style="width: 8%">추천</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td th:if="${post.type.name() == 'NOTICE'}"><small th:text="공지"></small></td>
        <td th:unless="${post.type.name() == 'NOTICE'}"><small th:text="${post.id}"></small></td>
        <td th:if="${post.type.name() == 'NOTICE'}" style="text-align: left"><a th:href="|@{/posts/{id}(id=${post.id})}|"><strong th:text="${post.subject}"></strong></a></td>
        <td th:unless="${post.type.name() == 'NOTICE'}" style="text-align: left"><a th:href="|@{/posts/{id}(id=${post.id})}|" th:text="${post.subject}"></a></td>
        <td th:text="${post.nickname}"></td>
        <td th:if="${post.createdDate.isAfter(post.createdDate.now().minusDays(1))}">
          <small th:text="${#temporals.format(post.createdDate, 'HH:mm')}"></small>
        </td>
        <td th:unless="${post.createdDate.isAfter(post.createdDate.now().minusDays(1))}"
            th:if="${post.createdDate.year == post.createdDate.now().year}">
          <small th:text="${#temporals.format(post.createdDate, 'MM.dd')}"></small>
        </td>
        <td th:unless="${post.createdDate.isAfter(post.createdDate.now().minusDays(1)) || post.createdDate.year == post.createdDate.now().year}">
          <small th:text="${#temporals.format(post.createdDate, 'yyyy/MM/dd')}"></small>
        </td>
        <td><small th:text="${post.hit}"></small></td>
        <td><small th:text="${post.like}"></small></td>
      </tr>
      <tr th:if="${posts.isEmpty()}">
        <td colspan="5" class="text-center">게시물이 없습니다.</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col">
        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/posts}'|">전체글</button>
      </div>
      <div class="col">
        <button class="btn btn-dark float-right" type="button" th:onclick="|location.href='@{/posts/write}'|">글쓰기</button>
      </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
  </div>
</body>
</html>