<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header"></head>
<style>
  a {
    color: #111;
  }
  a:hover {
    color: #111;
  }
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
</style>
<body>
  <nav th:replace="/fragments/navbar :: navbar(nickname=${member == null ? null : member.nickname})"></nav>
  <div class="container">
    <div class="py-3 text-center">
      <h3>게시판</h3>
    </div>
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col" style="width: 7%">번호</th>
        <th scope="col" style="width: 54%">제목</th>
        <th scope="col" style="width: 13%">작성자</th>
        <th scope="col" style="width: 10%">작성일</th>
        <th scope="col" style="width: 8%">조회</th>
        <th scope="col" style="width: 8%">추천</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td>
          <small th:if="${post.type.name() == 'NOTICE'}" th:text="공지"></small>
          <small th:unless="${post.type.name() == 'NOTICE'}" th:text="${post.id}"></small>
        </td>
        <td style="text-align: left">
          <a th:href="|@{/posts/{id}(id=${post.id})}|">
            <strong th:if="${post.type.name() == 'NOTICE'}" th:text="${post.subject}"></strong>
            <span th:unless="${post.type.name() == 'NOTICE'}" th:text="${post.subject}"></span>
            <small th:if="${post.commentCount > 0}"
                   th:text="' [' + ${post.commentCount} + '] '"
                   class="text-muted"></small>
          </a>
        </td>
        <td th:text="${post.nickname}"></td>
        <td>
          <small th:if="${post.createdDate.isAfter(post.createdDate.now().minusDays(1))}"
                 th:text="${#temporals.format(post.createdDate, 'HH:mm')}"></small>
          <small th:unless="${post.createdDate.isAfter(post.createdDate.now().minusDays(1))}"
                 th:if="${post.createdDate.year == post.createdDate.now().year}"
                 th:text="${#temporals.format(post.createdDate, 'MM.dd')}"></small>
          <small th:unless="${post.createdDate.isAfter(post.createdDate.now().minusDays(1)) ||
           post.createdDate.year == post.createdDate.now().year}"
                 th:text="${#temporals.format(post.createdDate, 'yyyy/MM/dd')}"></small>
        </td>
        <td><small th:text="${post.hit}"></small></td>
        <td><small th:text="${post.like}"></small></td>
      </tr>
      <tr th:if="${posts.isEmpty()}">
        <td colspan="5" class="text-center">게시물이 없습니다.</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/posts}'|">전체글</button>
      </div>
      <div class="col-5 m-auto">
        <form th:object="${condition}">
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="form-control" th:field="*{mode}">
                <option value="SUBJECT_CONTENT" selected>제목/내용</option>
                <option value="SUBJECT">제목</option>
                <option value="CONTENT">내용</option>
                <option value="WRITER">글쓴이</option>
              </select>
            </div>
            <input class="form-control" id="search" type="text" th:field="*{keyword}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <button class="btn btn-dark float-right" type="button" th:onclick="|location.href='@{/posts/write}'|">글쓰기</button>
      </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
  </div>
</body>
</html>