<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header"></head>
<style>
  td a {
    color: #111;
  }
  td a:hover {
    color: #111;
  }
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
</style>
<body>
  <nav th:replace="/fragments/navbar :: navbar(nickname=${member == null ? null : member.nickname})"></nav>
  <div class="container">
    <div class="py-3 text-center">
      <h3>게시판</h3>
    </div>
    <hr />
    <div>
      <p><strong th:text="${post.subject}"></strong></p>
    </div>
    <div>
      <div style="display: inline-block">
        <small th:text="${post.member.nickname}"></small>
      </div>
      <div style="display: inline-block; float:right">
        <div style="display: inline-block; padding-inline-end: 0.5rem">
          <small th:text="|조회수 ${post.hit}|"></small>
        </div>
        <div style="display: inline-block; padding-inline-start: 0.5rem">
          <small th:text="|작성일 ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}|"></small>
        </div>
      </div>
    </div>
    <hr />
    <div th:utext="${post.content}"></div>
    <div class="text-center">
      <button class="btn btn-secondary" type="button" id="like" th:text="|추천 ${post.like}|"
              th:onclick="|vote(${true})|"></button>
      <button class="btn btn-danger" type="button" id="hate" th:text="|비추천 ${post.hate}|"
              th:onclick="|vote(${false})|"></button>
    </div>
    <hr />
    <div class="row mb-4">
      <div class="col">
        <strong>전체 댓글 <span class="text-danger" id="comment_count"></span>개</strong>
      </div>
    </div>
    <div id="comment_list"></div>
    <div class="input-group mb-5" id="comment_write_box">
      <textarea class="form-control" style="resize: none" id="comment_input"></textarea>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="comment_write" type="button"
                th:onclick="writeComment()">작성</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/posts}'|">전체글</button>
      </div>
      <div class="col">
        <div class="float-right">
          <form th:action="|@{/posts/{id}/remove(id=${post.id})}|" method="post"
                th:if="${post.member.username == (member == null ? null : member.username)}"
                style="display: inline">
            <button class="btn btn-danger" type="submit">글삭제</button>
          </form>
          <button class="btn btn-info" type="button"
                  th:if="${post.member.username == (member == null ? null : member.username)}"
                  th:onclick="|location.href='@{/posts/{id}/edit(id=${post.id})}'|">글수정</button>
          <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/posts/write}'|">글쓰기</button>
        </div>
      </div>
    </div>
    <hr />
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col" style="width: 7%">번호</th>
        <th scope="col" style="width: 54%">제목</th>
        <th scope="col" style="width: 13%">작성자</th>
        <th scope="col" style="width: 10%">작성일</th>
        <th scope="col" style="width: 8%">조회</th>
        <th scope="col" style="width: 8%">추천</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${posts}" th:style="${p.id == post.id ? 'background-color: rgba(0,0,0,.100);' : ''}">
        <td>
          <small th:if="${p.id == post.id}" th:text="'>'"></small>
          <small th:if="${p.id != post.id && p.type.name() == 'NOTICE'}" th:text="공지"></small>
          <small th:if="${p.id != post.id && p.type.name() != 'NOTICE'}" th:text="${p.id}"></small>
        </td>
        <td style="text-align: left">
          <a th:if="${condition.keyword != null}" th:href="|@{/posts/{id}(id=${p.id}, mode=${condition.mode}, keyword=${condition.keyword}, p=${currentPage + 1})}|">
            <strong th:if="${p.type.name() == 'NOTICE'}" th:text="${p.subject}"></strong>
            <span th:unless="${p.type.name() == 'NOTICE'}" th:text="${p.subject}"></span>
            <small th:if="${p.commentCount > 0}"
                   th:text="' [' + ${p.commentCount} + '] '"
                   class="text-muted"></small>
          </a>
          <a th:unless="${condition.keyword != null}" th:href="|@{/posts/{id}(id=${p.id}, p=${currentPage + 1})}|">
            <strong th:if="${p.type.name() == 'NOTICE'}" th:text="${p.subject}"></strong>
            <span th:unless="${p.type.name() == 'NOTICE'}" th:text="${p.subject}"></span>
            <small th:if="${p.commentCount > 0}"
                   th:text="' [' + ${p.commentCount} + '] '"
                   class="text-muted"></small>
          </a>
        </td>
        <td th:text="${p.nickname}"></td>
        <td>
          <small th:if="${p.createdDate.isAfter(p.createdDate.now().minusDays(1))}"
                 th:text="${#temporals.format(p.createdDate, 'HH:mm')}"></small>
          <small th:unless="${p.createdDate.isAfter(p.createdDate.now().minusDays(1))}"
                 th:if="${p.createdDate.year == p.createdDate.now().year}"
                 th:text="${#temporals.format(p.createdDate, 'MM.dd')}"></small>
          <small th:unless="${p.createdDate.isAfter(p.createdDate.now().minusDays(1)) ||
           p.createdDate.year == p.createdDate.now().year}"
                 th:text="${#temporals.format(p.createdDate, 'yyyy/MM/dd')}"></small>
        </td>
        <td><small th:text="${p.hit}"></small></td>
        <td><small th:text="${p.like}"></small></td>
      </tr>
      <tr th:if="${posts.isEmpty()}">
        <td colspan="5" class="text-center">게시물이 없습니다.</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/posts}'|">전체글</button>
      </div>
      <div class="col-5 m-auto">
        <nav th:replace="/fragments/pagination :: pagination(current=${currentPage}, total=${totalPages})"></nav>
      </div>
      <div class="col-2">
        <button class="btn btn-dark float-right" type="button" th:onclick="|location.href='@{/posts/write}'|">글쓰기</button>
      </div>
    </div>
    <div class="row">
      <div class="col-5 m-auto">
        <form th:object="${condition}" th:action="@{/posts}">
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="form-control" th:field="*{mode}">
                <option value="SUBJECT_CONTENT" selected>제목/내용</option>
                <option value="SUBJECT">제목</option>
                <option value="CONTENT">내용</option>
                <option value="WRITER">글쓴이</option>
              </select>
            </div>
            <input class="form-control" id="search" type="text" th:field="*{keyword}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
  </div>
  <script th:inline="javascript">
    const postId = [[${post.id}]];
    const memberId = [[${member == null ? null : member.id}]];
    const commentPageNumber = [[${commentPageNumber}]];

    $(document).ready(() => {
      readComments(commentPageNumber);
    });

    $(document).on('keypress', '#comment_input', e => {
      if (e.keyCode === 13 && !e.shiftKey) {
        $('#comment_write').click();
        return false;
      }
    });

    $(document).on('keypress', '#reply_input', e => {
      if (e.keyCode === 13 && !e.shiftKey) {
        $('#reply_write').click();
        return false;
      }
    });

    $(document).on('click', '#comment', e => {
      if ($(e.currentTarget).parent().find('#reply_write_box').length > 0) {
        $(e.currentTarget).parent().find('#reply_write_box').remove();
        return;
      }

      $(document).find('#reply_write_box').remove();
      $(e.currentTarget).parent().append(
              `<div class="input-group mt-4" id="reply_write_box">
                 <input id="parent_id" type="hidden" value="${$(e.currentTarget).attr('data-id')}">
                 <textarea class="form-control" style="resize: none" id="reply_input"></textarea>
                 <div class="input-group-append">
                   <button class="btn btn-outline-secondary" id="reply_write" type="button" onclick="writeReply()">작성</button>
                 </div>
               </div>`
      );
    });

    function vote(isLike) {
      const postVoteDto = {
        memberId: memberId,
        postId: postId,
        isLike: isLike
      };

      if (memberId == null) {
        alert("로그인이 필요한 서비스입니다.");
        return false;
      }

      $.ajax({
        type:"POST",
        url: "/api/posts/vote",
        data: JSON.stringify(postVoteDto),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
      })
              .done(result => {
                if (!result['success']) {
                  return alert(result['message']);
                }

                if (isLike) {
                  $('#like').html('추천 ' + result['data']);
                } else {
                  $('#hate').html('비추천 ' + result['data']);
                }
              })
              .fail(() => {
                return alert('예상치 못한 에러가 발생하였습니다.');
              });
    }

    function readComments(page) {
      const list = $('#comment_list');
      const cmtCount = $('#comment_count');
      const username = [[${member == null ? null : member.username}]];

      $.ajax({
        type:"GET",
        url: "/api/posts/" + postId + "/comments?p=" + page,
      })
              .done(result => {
                if (!result['success']) {
                  return alert(result['message']);
                }

                let html = "";
                for (let i = result['data']['content']['length'] - 1; i >= 0; i--) {
                  let comment = result['data']['content'][i];

                  html += `<div class="row">`;
                  html += `  <div class="col">`;
                  html += `    <div style="padding-inline: 0.5rem">`;
                  html += `      <small><strong>${comment['nickname']}</strong></small>`;
                  html += `      <div class="float-right">`;
                  html += comment['username'] === username && !comment['removed'] ?
                          `<a href="#" onclick="removeComment(${comment['id']})"><small class="text-muted">삭제</small></a>` : ``;
                  html += `        <small class="text-muted ml-1">${moment(comment['createdDate']).format('YYYY-MM-DD HH:mm:ss')}</small>`;
                  html += `      </div>`;
                  html += `    </div>`;
                  html += comment['removed'] ?
                          `    <div style="padding: 0.5rem">
                                 <small class="text-muted">(작성자에 의해 삭제된 댓글입니다)</small>
                               </div>` :
                          `    <div id="comment" data-id="${comment['id']}" style="padding: 0.5rem; cursor: pointer">
                                 <span>${comment['content']}</span>
                               </div>`;
                  html += `  </div>`;
                  html += `</div>`;
                  html += `<hr/>`;

                  // Replies
                  $.each(comment['children'], (index, reply) => {
                    html += `<div class="row ml-4">`;
                    html += `  <div class="col">`;
                    html += `    <div style="padding-inline: 0.5rem">`;
                    html += `      <small><strong>${reply['nickname']}</strong></small>`;
                    html += `      <div class="float-right">`;
                    html += reply['username'] === username && !reply['removed'] ?
                            `<a href="#" onclick="removeComment(${reply['id']})"><small class="text-muted">삭제</small></a>` : ``;
                    html += `        <small class="text-muted ml-1">${moment(reply['createdDate']).format('YYYY-MM-DD HH:mm:ss')}</small>`;
                    html += `      </div>`;
                    html += `    </div>`;
                    html += `    <div style="padding: 0.5rem">`;
                    html += `      <span>${reply['removed'] ?
                            '<small class="text-muted">(작성자에 의해 삭제된 댓글입니다)</small>' :
                            reply['content']}</span>`;
                    html += `    </div>`;
                    html += `  </div>`;
                    html += `</div>`;
                    html += `<hr/>`;
                  });
                }

                // Pagination
                const currentPage = result['data']['number'];
                const totalPages = result['data']['totalPages'];
                const firstPage = currentPage - currentPage % 10;

                if (totalPages > 1) {
                  html += `<div class="row">`;
                  html += `    <div class="col-5 m-auto">`;
                  html += `        <nav>`;
                  html += `            <ul class="pagination justify-content-center">`;
                  html += currentPage >= 10 ? `<li class="page-item">
                                                 <a class="page-link" href="/posts/${postId}?cp=${currentPage - currentPage % 10}">
                                                    <span>&laquo;</span>
                                                 </a>
                                             </li>` : ``;

                  for (let p = firstPage + 1; p <= Math.min(firstPage + 10, totalPages); p++) {
                    html += `              <li class="page-item ${p === currentPage + 1 ? 'active' : ''}">`;
                    html += `                  <a class="page-link" href="/posts/${postId}?cp=${p}">${p}</a>`;
                    html += `              </li>`;
                  }

                  html += currentPage < (totalPages - 1) - (totalPages - 1) % 10 ? `
                                        <li class="page-item">
                                                 <a class="page-link" href="/posts/${postId}?cp=${currentPage - currentPage % 10 + 11}">
                                                    <span>&raquo;</span>
                                                 </a>
                                        </li>` : ``;
                  html += `            </ul>`;
                  html += `        </nav>`;
                  html += `    </div>`;
                  html += `</div>`;
                }

                list.html(html);
              })
              .fail(() => {
                return alert('댓글을 불러오지 못하였습니다.');
              });

      $.ajax({
        type:"GET",
        url: "/api/posts/" + postId + "/comments/count",
      })
              .done(result => {
                if (!result['success']) {
                  return alert(result['message']);
                }

                cmtCount.html(result['data']);
              })
              .fail(() => {
                return alert('댓글 개수를 불러오지 못하였습니다.');
              });
    }

    function writeComment() {
      const input = $('#comment_input');

      const postCommentWriteDto = {
        memberId: memberId,
        content: input.val(),
        parentId: null
      };

      if (memberId == null) {
        alert("로그인이 필요한 서비스입니다.");
        return false;
      }

      if (!input.val()) {
        alert("내용을 입력해주세요.");
        return false;
      }

      $.ajax({
        type:"POST",
        url: "/api/posts/" + postId + "/comments",
        data: JSON.stringify(postCommentWriteDto),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
      })
              .done(result => {
                if (!result['success']) {
                  return alert(result['message']);
                }

                readComments(1);
                input.val("");
                input.focus();
              })
              .fail(() => {
                return alert('예상치 못한 에러가 발생하였습니다.');
              });
    }

    function removeComment(commentId) {
      const memberSimpleAuthDto = {
          memberId: memberId
      };

      if (memberId == null) {
        alert("로그인이 필요한 서비스입니다.");
        return false;
      }

      $.ajax({
          type:"POST",
          url: "/api/posts/" + postId + "/comments/" + commentId,
          data: JSON.stringify(memberSimpleAuthDto),
          dataType: "json",
          contentType: "application/json; charset=utf-8",
      })
          .done(result => {
              if (!result['success']) {
                  return alert(result['message']);
              }

              readComments(commentPageNumber);
              alert("정상적으로 삭제되었습니다.");
          })
          .fail(() => {
              return alert('예상치 못한 에러가 발생하였습니다.');
          });
    }

    function writeReply() {
      const input = $('#reply_input');
      const parentId = $('#parent_id');

      const postCommentWriteDto = {
        memberId: memberId,
        content: input.val(),
        parentId: parentId.val()
      };

      if (memberId == null) {
        alert("로그인이 필요한 서비스입니다.");
        return false;
      }

      if (!input.val()) {
        alert("내용을 입력해주세요.");
        return false;
      }

      $.ajax({
        type:"POST",
        url: "/api/posts/" + postId + "/comments",
        data: JSON.stringify(postCommentWriteDto),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
      })
              .done(result => {
                if (!result['success']) {
                  return alert(result['message']);
                }

                readComments(commentPageNumber);
                input.val("");
                input.focus();
              })
              .fail(() => {
                return alert('예상치 못한 에러가 발생하였습니다.');
              });
    }
  </script>
</body>
</html>