<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="navbar(nickname)">
  <a class="navbar-brand" th:href="@{/}">MyBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/posts}">게시판</a>
      </li>
    </ul>
    <form th:action="@{/posts}" method="get" class="form-inline mx-3 my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button th:if="${nickname == null}" th:onclick="|location.href='@{/members/login}'|" class="btn btn-dark">로그인</button>
    <div th:unless="${nickname == null}" class="navbar-nav dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" th:text="${nickname}"></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" th:href="@{/members/logout}">로그아웃</a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>